@font-face {
    font-family: fuente;
    src: url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
  }


img {
    width: 300px;
    height: auto;
}

p{
    background-color: aquamarine;
}

body{
    font: "Lucida Handwriting";
    background-color: rgb(223, 215, 206);
}

h1{
    font-family: fuente, "Courier New", sans-serif;
    font-size: 30px;
}

li{
    font-family: "Papyrus", sans-serif;

}

a {
    font-family: "Courier New", sans-serif;
    

}
